/* Fellix Font Family - https://displaay.net/typeface/fellix/ */

/* Regular */
@font-face {
  font-family: 'Fellix';
  src: url('./assets/fonts/FellixTRIAL-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: 'Fellix';
  src: url('./assets/fonts/FellixTRIAL-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* SemiBold */
@font-face {
  font-family: 'Fellix';
  src: url('./assets/fonts/FellixTRIAL-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: 'Fellix';
  src: url('./assets/fonts/FellixTRIAL-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Brand Colors */
  --color-green-brand: #00bd82;
  --color-purple-brand: #6955da;
  --color-blue-brand: #2f80ed;
  --color-yellow-brand: #ffc000;
  --color-pink-brand: #e85b79;
  --color-orange-brand: #ff5d3e;

  /* Background Colors */
  --color-background-cobalt: #012635;
  --color-background-dark-blue: #073f56;
  --color-background-white: #ffffff;
  --color-background-grey-one: #fcfcff;
  --color-background-grey-two: #f7f8fc;
  --color-background-grey-three: #f1f3f8;

  /* Text Colors */
  --color-text-cobalt: #012635;
  --color-text-dark-blue: #073f56;
  --color-text-light-grey: #f7f8fc;
  --color-text-white: #ffffff;

  /* Shadows */
  --shadow-subtle-top: 0 -20px 25px -5px rgba(0, 0, 0, 0.03), 0 -10px 10px -5px rgba(0, 0, 0, 0.02);
  --shadow-subtle-bottom:
    0 20px 25px -5px rgba(0, 0, 0, 0.03), 0 10px 10px -5px rgba(0, 0, 0, 0.02);

  font-family: 'Fellix', 'Sen', system-ui, Helvetica, Arial, sans;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text-cobalt);
  background-color: var(--color-background-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden !important;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  height: 100%;
  max-height: 100vh;
  overflow: hidden !important;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-text-cobalt);
    background-color: var(--color-background-white);
  }
  a:hover {
    color: var(--color-text-dark-blue);
  }
  button {
    background-color: var(--color-background-grey-two);
  }
}
